body {
    background-color: #FEFAEF !important;
}

.container {
    min-height: 100vh;
    background-color: #FEFAEF !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-image {
    display: flex;
    justify-content: center;
}

.main-sidebar {
    background-color: #27355C;
    height: 550px;
    width: 185px !important;

}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F7F7F7;
    height: 550px;
    width: 600px !important;
}

#start-button {
    background-color: #FF4E0E;
    color: white;
}

#question-text {
    min-height: 115px;
}

.quiz-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quiz-cart h4 {
    text-align: center;
}

.quiz-button {
    background-color: #FFFFFF;
    min-width: 250px;
    height: 48px;
}

.quiz-button span {
    font-weight: 600;
}

.question-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    padding-top: 10px;    
}

.bg-success span, .bg-danger span {
    color: white;
    font-weight: 600;
}

.end-screen-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.end-screen-content img {
    height: 125px;
    width: 125px;
}

.end-screen-content button {
    height: 40px;
    width: 200px;
}

#result-score {
    font-size: large;
}

.progress {
    position: absolute;
    top: 0;
    width: 100%;
}

@media screen and (max-width: 1000px) {
    #main-content {
        padding: 0 !important;
        max-width: 450px;
    }
}

@media screen and (max-width: 800px) {
    #main-content {
        max-width: 350px;
    }

    #main-sidebar {
        max-width: 125px;
    }
}

@media screen and (max-width: 485px) {
    #main-content {
        max-width: 300px;
    }
    
    #main-sidebar {
        display: none;
    }
}